# Environments
.env
.venv
.venv_gpu
env/
venv/
venv_gpu/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea

# Weight and Biases
wandb/*

# Generated data
data/*

data/instances/*
!data/instances
!data/instances/jssp
!data/instances/fjssp
data/instances/jssp/*
data/instances/fjssp/*
!data/instances/jssp/config_job3_task4_tools0.pkl
!data/instances/fjssp/config_job3_task4_tools0.pkl
!data/benchmark_instances
!data/benchmark_instances/*

data/logs/*
!data/logs/.gitkeep

data/models/*
!data/models/example_dqn_agent.pkl
!data/models/example_ppo_agent.pkl
!data/models/example_ppo_masked_agent.pkl
!data/models/solver_solution
data/models/solver_solution/*
!data/models/solver_solution/jssp
!data/models/solver_solution/instance_dict.pkl
data/models/solver_solution/jssp/*
!data/models/solver_solution/jssp/config_job3_task4_tools0.pkl

data/visuals/*
!data/visuals/.gitkeep

data/wandb/*
!data/wandb/.gitkeep


# Ignore all config files but specific examples
config/*
!config/data_generation
!config/rllib
!config/sweep
!config/training
!config/testing
config/data_generation/*
config/rllib/*
config/sweep/*
config/training/*
config/testing/*
!config/data_generation/jssp
!config/data_generation/fjssp
!config/rllib/rllib_example.yaml
!config/sweep/config_sweep_ppo.yaml
!config/training/dqn
!config/training/ppo
!config/training/ppo_masked
!config/testing/ppo_masked
!config/testing/dqn
!config/testing/ppo
config/data_generation/jssp/*
config/data_generation/fjssp/*
config/training/dqn/*
config/training/ppo/*
config/training/ppo_masked/*
config/testing/dqn/*
config/testing/ppo/*
config/testing/ppo_masked/*
!config/data_generation/jssp/schema.json
!config/data_generation/jssp/config_job3_task4_tools0.yaml
!config/data_generation/fjssp/schema.json
!config/data_generation/fjssp/config_job3_task4_tools0.yaml
!config/training/dqn/config_job3_task4_tools0.yaml
!config/training/ppo/config_job3_task4_tools0.yaml
!config/training/ppo_masked/config_job3_task4_tools0.yaml
!config/training/dqn/schema.json
!config/training/ppo/schema.json
!config/training/ppo_masked/schema.json
!config/testing/dqn/config_job3_task4_tools0.yaml
!config/testing/ppo/config_job3_task4_tools0.yaml
!config/testing/ppo_masked/config_job3_task4_tools0.yaml
!config/testing/dqn/schema.json
!config/testing/ppo/schema.json
!config/testing/ppo_masked/schema.json
