#############################################
# Requirements for python==3.10 environment #
#############################################
gym==0.26.1
jsonschema==4.16.0
matplotlib==3.6.0
numpy==1.23.3
ortools==9.4.1874
Pillow==9.2.0
PyYAML==6.0
scikit-learn==1.1.2
# Warning: Make sure to use correct CUDA version for your system!
#          You can check for CUDA version of your system via terminal command "nvidia-smi".
#          For auto-install of cuda we add link to pytorch wheel provider.
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.12.1+cu116
tqdm==4.64.1
wandb==0.13.3
